<table align="center" width="900" cellpadding="7" cellspacing="0">
	<col width="500"/>

	<col width="500"/>

	<col width="500"/>

	<tr>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p align="center" style="margin-bottom: 0cm">
			<font size="4" style="font-size: 14pt"><b>10:00 </b></font><font size="4" style="font-size: 14pt">МСК</font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt">01
			сентября 2021 </font>
			</p>
			<p align="center"><font size="4" style="font-size: 14pt">аудитория
			315</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p align="center" style="margin-bottom: 0cm">
			<font size="4" style="font-size: 14pt"><b>11:30 </b></font><font size="4" style="font-size: 14pt">МСК</font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt">01
			сентября 2021 </font>
			</p>
			<p align="center"><font size="4" style="font-size: 14pt">аудитория
			315</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p align="center" style="margin-bottom: 0cm">
			<font size="4" style="font-size: 14pt"><b>13:00</b></font><font size="4" style="font-size: 14pt">
			МСК</font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt">01
			сентября 2021 </font>
			</p>
			<p align="center"><font size="4" style="font-size: 14pt">аудитория
			315</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Алиев Тимур
			Бубаевич </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Аркадьев Иван
			Павлович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Вагабов Вадим
			Шихметович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Багаев Денис
			Дмитриевич</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Беляев Руслан
			Вячеславович </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Васильченков
			Валерий Андреевич</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Балашова Ксения
			Дмитриевна </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Большакова Мария
			Егоровна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Вахрушин Андрей
			Владимирович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Вакулюков Дмитрий
			Владимирович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Борисов Андрей
			Геннадьевич</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ганеев Арсен
			Эльвирович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Власов Владислав
			Витальевич</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Волкова Екатерина
			Сергеевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Головина Анастасия
			Игоревна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Волков Максим
			Алексеевич </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Гарлина Элина
			Игоревна </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Григорьева
			Александра Юрьевна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Гараева Эмма
			Финатовна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ершов Анатолий
			Германович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ершова Мария
			Вячеславовна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Голубева Дарья
			Витальевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Зинченко Юлия
			Олеговна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ибрашев Марат
			Магомедович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Звонкова Софья
			Олеговна </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кит Алексей
			Николаевич</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кондрашева
			Анастасия Александровна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Иванюшев Марк
			Владимирович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Комлева Анастасия
			Сергеевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Коптяева Ксения
			Алексеевна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Игнатьева Анна
			Александровна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кузнецов Никита
			Михайлович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кудинов Илья
			Вячеславович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кармашов Егор
			Валерьевич</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Малыгина Анастасия
			Юрьевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Меркулов Сергей
			Сергеевич </font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кобзева Анастасия
			Германовна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Медведев Денис
			Дмитриевич </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Нивин Александр
			Сергеевич</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Козлова Кристина
			Сергеевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Петрова Дарья
			Александровна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Панченко Сергей
			Валерьевич</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Коновалова Алина
			Александровна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Пилюгина Руслана
			Дмитриевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Паюрова Анжелика
			Алексеевна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Маслов Тимур
			Глебович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Попова Ульяна
			Михайловна </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Петровская Анна
			Андреевна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Наганова Ксения
			Олеговна </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Садбарова
			Гулрухсора Комиловна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Семенов Данил
			Степанович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Павлище Милана
			Альфредовна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Суровцева
			Анастасия Олеговна </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Травников Максим
			Александрович</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Савельева Алина
			Викторовна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Хотченкова Арина
			Романовна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Федоров Виктор
			Алексеевич</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Смыков Александр
			Викторович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Чекменев Игорь
			Дмитриевич </font>
			</p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Хазова Полина
			Юрьевна</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Стратейчук Софья
			Дмитриевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Чилингарян Тигран
			Армаисович</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Чивилев Валерий
			Алексеевич</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ширшова Ксения
			Дмитриевна</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Шалберов Тимофей
			Алексеевич</font></p>
		</td>
		<td width="300" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Юрин Константин
			Константинович</font></p>
		</td>
	</tr>
</table>