<table align="center" width="900" cellpadding="7" cellspacing="0">
	<colgroup><col width="300">

	<col width="300">

	<col width="300">

	</colgroup><tbody><tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p align="center" style="margin-bottom: 0cm">
			<font size="4" style="font-size: 14pt"><b>СПЕЦИАЛИТЕТ</b></font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt"><b>14:30
			</b></font><font size="4" style="font-size: 14pt">МСК</font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt">01
			сентября 2021 </font>
			</p>
			<p align="center"><font size="4" style="font-size: 14pt">аудитория
			315</font></p>
		</td>
		<td colspan="2" width="505" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p align="center" style="margin-bottom: 0cm">
			<font size="4" style="font-size: 14pt"><b>МАГИСТРАТУРА</b></font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt"><b>18:00
			</b></font><font size="4" style="font-size: 14pt">МСК</font></p>
			<p align="center" style="margin-bottom: 0cm"><font size="4" style="font-size: 14pt">01
			сентября 2021</font></p>
			<p align="center"><a name="_GoBack"></a><font size="4" style="font-size: 14pt">аудитория
			309</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Антонова Александра
			Сергеева</font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Виноградова
			Екатерина Владимировна </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Антоник Арина
			Алексеевна</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Быкова Анастасия
			Алексеевна</font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Зимницкий Даниил
			Александрович </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Артисевич Полина
			Геннадьевна</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Вакарь Лев
			Альбертович</font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кочугов Артемий
			Витальевич </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Бехер Алиса
			Дмитриевна</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Воронкин Владислав
			Анатольевич </font>
			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ламанов Николай
			Николаевич</font></p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Димитриев Андрей
			Павлович</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Горбач Татьяна
			Дмитриевна </font>
			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Мансуров Денис
			Андреевич </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Забелин Максим
			Юрьевич </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Едейко Олеся
			Сергеевна</font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Мусатенко Артур
			Эдуардович</font></p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Козлова Ольга
			Петровна</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Казимагомаев
			Саид Азаматович </font>
			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Окладников Андрей
			Дмитриевич</font></p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Кондрашев Данил
			Романович </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font face="Times New Roman, serif"><font size="2" style="font-size: 11pt">Новикова
			Софья Павловна</font></font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Пацюк Антон
			Игоревич</font></p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Лебедев Анатолий
			Алексеевич </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Раджабов Имам
			Шамильевич</font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Тарасенко Илья
			Александрович </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Лотохов Егор
			Андреевич </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Тургаева Камилла
			Куангалиевна</font></p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Терентьева Арина
			Евгеньевна </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Михайлова Ольга
			Александровна</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Фомин Сергей
			Сергеевич </font>
			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Шустик Юрий
			Олегович </font>
			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Никольский Янис
			Александрович</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Шутова Мария
			Михайловна</font></p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Пономарев Иван
			Валентинович </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Смагин Евгений
			Игоревич</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Твердохлебов
			Алексей Владимирович </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Халимов Тимур
			Якубович </font>
			</p>
		</td>
	</tr>
	<tr>
		<td width="221" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Хомутова Полина
			Николаевна</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="240" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Черкашина Саида</font></p>
		</td>
	</tr>
	<tr>
		<td width="221" valign="top" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="251" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<br>

			</p>
		</td>
		<td width="240" style="border: 1px solid #000000; padding: 0cm 0.19cm"><p>
			<font size="2" style="font-size: 11pt">Ясаков Михаил
			Александрович </font>
			</p>
		</td>
	</tr>
</tbody></table>