{% extends 'regabitur/base_auth.html' %}

{% block title %}
Добавить дополнительные данные
{% endblock %}

{% block content %}
{% if update %}
<h1 class="mt-4">Обновить данные для пользователя - {{request.user}}</h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="card border-info ml-8">
            <div class="card-header text-center">Добавление данных</div>
            <div class="card-body text-info">
                <h4 class="card-title"><span class="badge badge-danger">Важно!</span> <br><br> Вводите достоверные
                    данные в поля формы!<br></h4><h5> Это поможет сотрудникам приемной
                комиссии быстрее обработать ваши данные </h5><br>
            </div>
        </div>
    </div>

    <div class="col-md-8 border-info">
        <div class="card border-info ml-8">
            <form id="update_form" method="post" class="p-3">
                {% csrf_token %}
                {{form }}
            </form>
            <button form="update_form" type="submit" class="btn btn-primary m-4">Обновить</button>
        </div>
    </div>
</div>
    {% else %}
<div class="row">
    <h1 class="mt-4 text-center"><u>Добавить данные для пользователя - {{request.user}}</u></h1>

    <div class="col-md-4 ">
        <div class="card border-info ml-8">
            <div class="card-header text-center">Шаг 2 - добавление данных</div>
            <div class="card-body text-info">
                <h4 class="card-title"><span class="badge badge-danger">Важно!</span> <br><br> Вводите достоверные
                    данные в поля формы!<br></h4><h5> Это поможет сотрудникам приемной
                комиссии быстрее обработать ваши данные </h5><br>

            </div>
        </div>
    </div>

    <div class="col-md-8 card border-info">
        <form id="info_add" method="post"  enctype="multipart/form-data">
            {% csrf_token%}
            {{form}}
        </form>
        <button form="info_add" type="submit" class="btn btn-primary mt-2 mb-2">Отправить</button>
    </div>
</div>

{% endif %}
{% endblock %}
