{% extends 'abitur/base_abitur.html' %}

{% block title %}
Аспирантура - Списки рекомендованных к зачислению
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 align="center">Список рекомендованных к зачислению (аспирантура)</h1>
    <hr style="border-width: 3px;">
    <br>
    <div class="table-response">
        <table class="table table-border table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Название</th>
                <th>Форма обучения</th>
                <th>Дата приказа</th>
                <th>Документ</th>
            </tr>
            </thead>
            {%for list in educational_form%}
            <tr>
                <td>{{ list.name_rec_list }}</td>
                <td>{{ list.educational_form }}</td>
                <td>{{ list.date_order }}</td>
                <td><a href=" {{list.file.url}} " rel="noopener" target="_blank">Открыть</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center">
        <button type="button" onclick="history.back();" class="btn btn-lg btn-block btn-outline-primary">Вернуться назад </button>
    </div>
    <br>
</div>
{% endblock %}