{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="jumbotron">
  <h1 class="display-4">Добрый день!</h1>
  <p class="lead">Это информационная страница подраздела официального сайта Санкт-Петербургской юридической академии,
      предназначенного для абитуриентов. Чтобы подробнее узнать о приемной компании на 2021-2022 учебный год нажмите на кнопку "Приемная комиссия".
    <hr>
  <p class="lead">Если вы, определившись с формой обучения и ознакомившись с информацией по приему, хотите подать документы
    в электронном виде, нажмите на кнопку "Подать документы" <b><u>c 20 июня 2021 года</u></b></p>
  </p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg m-4" href="https://abiturient.jurac.ru/abitur/" role="button">Приемная комиссия</a>
{#<!--    <a class="btn btn-primary btn-lg m-4" href="{% url 'reg_info_url'%}" role="button">Подать документы</a>--> #}
  </p>

</div>

{% endblock%}