{% extends 'abitur/base_abitur.html' %}
{% load static %}
{% block title %}
Информация для слабовидящих и слабослышащих - {{block.super }}
{% endblock %}

{% block content %}



<div class="container">
    <br>
    <div class="row">
        <div class="col-md-9">
            <h1 align="center"> Информация для слабовидящих и слабослышащих</h1>
            <hr style="border-width: 3px;">
        </div>
        <div class="col-md-3">
            <div align="center">
                <button type="button" onclick="history.back();" class="btn btn-lg btn-block btn-outline-primary">Вернуться назад </button>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row text-center">
        <h3 class=" text-center">
            <b><u>Автономная некоммерческая организация<br>
                высшего образования<br>
                «Санкт-Петербургская юридическая академия»</u><br><br>
                <hr> </b>
            Лицензия на осуществление образовательной деятельности № 2394 от 20 сентября 2016 года<br>
            (серия 90Л01,№ 0009460). Срок действия лицензии – бессрочно.<br>
            <br>
        </h3>
        <h4 class="text-center">
            Свидетельство о государственной аккредитации №3294 от 10 декабря 2019 года (серия 90А01, №0003507).<br>
            Срок действия свидетельства о государственной аккредитации — до 10 декабря 2025 года.<br><br>
        </h4>
        <h3 class="text-center">
            <b> Академия осуществляет обучение по направлениям подготовки «Юриспруденция»:</b><br><br><br>
            40.03.01 Юриспруденция (уровень бакалавриата);<br><br><br>
            40.04.01 Юриспруденция (уровень магистратуры);<br><br><br>
            40.06.01 Юриспруденция(уровень подготовки кадров высшей квалификации).<br><br><br>

            Специальность (направленность): 12.00.01 Теория и история права и государства, история учений о праве и
            государстве, 12.00.09 Уголовный процесс, 12.00.12 Криминалистика; Судебно-экспертная деятельность;
            Оперативно-розыскная деятельность.<br><br>

            44.06.01 Образование и педагогические науки (уровень подготовки кадров высшей квалификации).<br><br>

            Специальность (направленность): 13.00.08. Теория и методика профессионального образования.<br><br><br>

            <b><u>По окончании обучения выдается диплом государственного образца о высшем образовании.</u></b><br><br>



            <b><u>Бакалавриат:</u></b><br><br>

            <b>Очная форма обучения:</b><br><br>

            Срок обучения – 4 года.<br><br>

            При поступлении засчитываются положительные результаты ЕГЭ по предметам: «Обществознание», «Русский язык»,
            «История».<br><br>

            <b>Очно-заочная форма обучения:</b><br><br>

            - на базе высшего образования<br><br>

            Срок обучения – 3 года 2 месяца;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Обществознание»,
            «Русский язык», «Основы конституционного права Российской Федерации».<br><br>

            - на базе среднего профессионального образования<br><br>

            Срок обучения – 3 года 2 месяца;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Обществознание»,
            «Русский язык», «Теория государства и права».<br><br>

            - на базе среднего общего образования<br><br>

            Срок обучения – 4 года 6 месяцев.<br><br>

            При поступлении засчитываются положительные результаты ЕГЭ по предметам: «Обществознание», «Русский язык»,
            «История».<br><br>

            <b>Заочная форма обучения:</b><br><br>

            - на базе высшего образования<br><br>

            Срок обучения – 3 года;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Обществознание»,
            «Русский язык», «Основы конституционного права Российской Федерации».<br><br>



            <b><u>Магистратура:</u></b><br><br>

            <b>Очная форма обучения</b><br><br>

            Срок обучения – 2 года;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Конституционное право
            Российской Федерации», «Гражданское право» или «Уголовное право» в зависимости от направленности (профиля).<br><br>

            <b>Заочная форма обучения</b><br><br>

            Срок обучения – 2 года 5 месяцев;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Конституционное право
            Российской Федерации», «Гражданское право» или «Уголовное право» в зависимости от направленности (профиля).<br><br><br>



            <b><u> Аспирантура:</u></b><br><br>

            <b>Очная форма обучения</b><br><br>

            Срок обучения – 3 года;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Специальная дисциплина», «Иностранный язык»».<br><br>

            <b> Заочная форма обучения</b><br><br>

            Срок обучения – 4 года;<br><br>

            При поступлении засчитываются положительные результаты собеседования по дисциплинам: «Специальная дисциплина», «Иностранный язык».<br><br><br><br>



            <u>Обучающимся по очной форме предоставляется отсрочка от призыва на военную службу.</u><br><br>
            <u>Академия оказывает содействие обучающимся в предоставлении мест для проживания на период обучения.</u><br><br>

            <u>В Академии осуществляется обучение по программам дополнительного профессионального образования, дополнительного образования детей и взрослых.</u><br><br>

            <u>Действует гибкая система оплаты.</u><br><br>



            Для поступления в Академию необходимо обратиться в приемную комиссию, предоставив следующие документы,
            составленные на русском языке или сопровождаемые заверенным переводом на русский язык:<br><br>
            <ul>
                <li>Заявление на имя ректора (заполняется лично);</li>
                <li> Документ, удостоверяющий личность заявителя и его гражданство (паспорт);<br></li>
                <li>Документ государственного образца об образовании с приложением;<br></li>
                <li>2 фотографии 3*4;<br></li>
                <li> Медицинская справка по форме 086-У, для поступающих на очную и очно-заочную формы обучения.<br></li>
            </ul><br>
            Адрес Академии:<br><br>

            192012, Санкт-Петербург, пр. Обуховской Обороны, д.114 литер А<br>

            50 метров от ст. метро «Пролетарская»<br><br>

            +7 (812) 677-00-07; +7 (921) 951-34-33; +7 (921) 564-31-01;<br><br>

            Е-mail: jurac.spb@mail.ru, priem@jurac.ru
        </h3>



    </div>


</div>
{% endblock %}