{% extends 'abitur/base_abitur.html' %}
{% load static %}
{% block title %}
Иностранным гражданам
{% endblock %}


{% block content %}

<div class="container">
    <br>
    <h2 align="center"> <u>ИИНФОРМАЦИЯ ДЛЯ ИНОСТРАННЫХ ГРАЖДАН, ЛИЦ БЕЗ ГРАЖДАНСТВА, В ТОМ ЧИСЛЕ СООТЕЧЕСТВЕННИКОВ, ПРОЖИВАЮЩИХ ЗА РУБЕЖОМ</u> </h2>
    <br>
    <div class="row">
        <div class="col-md-8" style="background-color : #E0F4FF">
            <h3 class="text-center" >Информация для иностранных граждан</h3>
            <hr style="border-width: 3px;">
            <p >
                Санкт-Петербургская юридическая академия осуществляет в 2020 году прием иностранных граждан на обучение:<br><br>

                <b> по программе бакалавриата, программе магистратуры, подготовки научно-педагогических кадров в аспирантуре</b>
                на места, с оплатой стоимости обучения физическими и/или юридическими лицами.<br><br>

            <h3 class="text-center">Документы, необходимые для поступления</h3> <br>
            <u>
                1. Национальный (заграничный) паспорт с переводом на русский язык (перевод заверяется российским
                нотариусом или Консульским отделом Посольства России в стране пребывания).
                <br><br>
                2. Документ о предыдущем образовании (с оценками), с переводом на русский язык (перевод заверяется
                российским нотариусом или Консульским отделом Посольства России в стране пребывания).
                <br><br>
                3. Фотографии 3х4 - 2 шт. матовые (можно цветные, можно черно-белые)
                <br><br>
                4. Для поступающих на очную и очно-заочную формы обучения медицинские справки по форме 086-У.
                <br><br>
            </u>
            <h3 class="text-center">Миграционный учет</h3><br>

            В <u>обязательном порядке</u> обучающиеся в течение 24 часов с момента прибытия (за исключением праздничных
            и выходных дней) в Отдел по вопросам миграции УМВД России по Невскому району г. Санкт-Петербургу по адресу:
            <u>192174 г. Санкт-Петербург, ул. Седова, д. 99 корп.1</u><br><br>

            <u>должны предоставить следующие документы:</u><br><br>

            1) паспорт (оригинал и копии страниц с какими-либо отметками)<br>
            2) миграционную карту.<br><br>

            Территориальный отдел МВД по вопросам миграции уведомляется не позднее семи рабочих дней со дня
            прибытия иностранного гражданина в Российскую Федерацию (п. п. 1, 2 ч. 3 ст. 20 Федерального закона
            от 18.07.2006 N 109-ФЗ "О миграционном учете иностранных граждан и лиц без гражданства в Российской
            Федерации", абз. 2, 3 п. 20 Правил). В случае нарушения паспортно-визового режима пребывания на территории
            РФ все расходы по депортации несет обучающийся лично.<br><br>

            <h3 class="text-center">Ответственность иностранных граждан</h3><br><br>

            Иностранные граждане, совершившие преступления, административные или иные правонарушения на территории РФ,
            подлежат ответственности на общих основаниях с гражданами РФ.<br><br>

            За нарушение порядка пребывания иностранных граждан на территории РФ к ним могут применяться следующие меры
            воздействия: штраф, административное выдворение, административный арест, согласно действующему
            законодательству РФ.

            </p>

        </div>
        <div class="col-md-4">
            <h3 align="center" > Расписание работы приемной комиссии: </h3>
            <table class="table table-striped" style="background-color: #e3f2fd;" >

                <tr class="table-info">
                    <td scope="col" >Понедельник - четверг</td>
                    <td scope="col" >Пятница </td>
                    <td scope="col" >Обеденный перерыв</td>
                </tr>
                <tbody>
                <tr></tr>
                <tr class="table-info">
                    <td>c 10 до 18 часов</td>
                    <td>c 10 до 17 часов</td>
                    <td>c 12 до 13 часов</td>
                </tr>
                <tr>
                    <td><b>Электронный адрес:</b></td>
                    <td colspan="2">JURAC.SPB@MAIL.RU <br> PRIEM@JURAC.RU  </td>
                </tr>
                <tr></tr>
                <tr>
                    <td><b>Телефоны приемной комиссии:</b></td>
                    <td colspan="2"> +7 (812) 677-00-07 <br> +7 (921) 951-34-33 <br> +7 (921) 564-31-01 </td>
                </tr>
                <tr>
                    <td><b>Адрес: </b></td>
                    <td colspan="2">  Россия,192012, Санкт-Петербург, <br>пр. Обуховской Обороны, д. 114, лит. А, <br> 50 метров от станции метро "Пролетарская" </td>
                </tr>
                </tbody>
            </table>
            <figure class="figure">

                <img src="{% static 'image/map.png' %} " class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">
                    Маршрут от станции метро "Пролетарская"</figcaption>
            </figure>
        </div>
    </div>
</div>
<br>

{% endblock %}