{% extends 'abitur/base_abitur.html' %}


{% block title %}
Магистратура - Приказы о зачислении
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1 align="center">Приказы о зачислении (магистратура)</h1>
    <hr style="border-width: 3px;">
    <br>
    <div class="table-response">
        <table class="table table-border table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Название</th>
                <th>Номер приказа</th>
                <th>Форма обучения</th>
                <th>Дата приказа</th>
                <th>Документ</th>
            </tr>
            </thead>
            {%for orders in educational_form %}
            <tr>
                <td>{{ orders.name_order }}</td>
                <td>{{ orders.number_order }}</td>
                <td>{{ orders.educational_form }}</td>
                <td>{{ orders.date_order }}</td>
                <td><a href=" {{orders.file.url}} " rel="noopener" target="_blank">Открыть</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center">
        <button type="button" onclick="history.back();" class="btn btn-lg btn-block btn-outline-primary">Вернуться назад </button>
    </div>
    <br>
</div>
{% endblock %}